* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    

    h1 {
        text-align: center;
        font-family: 'Lexend Exa';
        color: #363555;
        font-size: 32px;
        border-radius: 30px;
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        border: 1px solid #363555;
    }

    #learn {
        background-color: #ffe586;
        color: #235d8e;
    }

    .title-section {
        display: inline;
    }
}

body {
    background-color: beige;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}

header {
    background-color: #2ca1c8;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 #0000001f;
    position: relative;

    img {
        height: 70px;
        display: inline-block;
        margin: 15px 0px 15px 20px;
        padding: 0;
    }

    nav {
        display: flex;
        gap: 5px;

        .dropdown-lang {
            background: none;
            color: #363555ce;
            border: none;
            margin: 0px 20px 0px 0px;
            font-size: 14px;
            font-weight: 550;
            align-self: center;
            padding: 0;
        }

        option {
            color: #000;
            font-size: 14px;
        }


        a {    
            text-decoration: none;
            color: #fff;
        }
    
        button {
            display: inline-block;
            font-size: 15px;
            align-self: center;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
            background: #da9e19;
            border: 1px solid #ecb132;
            padding: 3px 7px;
            box-shadow: -4px 4px #363555;

            &#login:hover, &#register:hover {
                background-color: #d59303;
                color: #fff;
                cursor: pointer;
                box-shadow: -2px 2px 2px #363555;
            }
        }
    }
}

section {
    height: 90vh;
    width: 100%;

    &#home {
        background-color: #2ca1c8;
        border-top: 2px solid #00a2e9;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 70px;
    
        .title-section {
            display: inline-flex;
            width: 45%;
            flex-wrap: wrap;
            gap: 20px;
    
            h1 {
                display: inline-block;
                margin: 0;
                padding: 10px 20px;
                border: 1px solid #fcefdb;
                color: #fcefdb;

                &#levelup {
                    background-color: #fd92c8;
                    color: #fcf8f1;
                }

                &#language {
                    background-color: #3982bd;
                    color: #fcf8f1;
                }

                &#play {
                    background-color: #85f1cb;
                    color: #fcefdb;
                }

                &#learn {
                    background-color: #ffe586;
                    color: #235d8e;
                }
            }

            p {
                text-align: justify;
                margin: 10px 5px;
                color: #fcefdb;
            }

            #conquest {
                font-size: 16px;
                background-color: #da9e19;
                border: 1px solid #ecb132;
                color: #fff;
                border-radius: 20px;
                padding: 10px 20px;
                box-shadow: -4px 4px #363555;

                &:hover {
                    box-shadow: -2px 2px 2px #363555;
                    background-color: #d59303;
                    cursor: pointer;
                }
            }
        }

        .image-desc {
            width: 55%;

            #hero-img {
                height: 400px;
                width: 705px;
            }
        }
    }

    &#courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;

        #favorite {
            background-color: #fd92c8;
            color: #fcefdb;
        }

        #free {
            background-color: #85f1cb;
            color: #fcefdb;
        }
    }

    &#gamemodes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
    }

    &#why-lingua {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
        background-color: #ffe586;

        h1 {
            color: #235d8e;
            border: 1px solid #235d8e;

            &#linguaquest {
                background-color: #2ca1c8;
                color: #fcefdb;
            }
        }
    }

    &#reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
    }

    &#blog-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
        background-color: #fd92c8;

        h1 {
            color: #fcefdb;
            border: 1px solid #fcefdb;

            &#explore {
                background-color: #ffe586;
                color: #235d8e;
            }
    
            &#blog {
                background-color: #2ca1c8;
                color: #fcefdb;
            }
        }
    }

    &#faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;
        background-color: #85f1cb;

        #frequently {
            background-color: #2ca1c8;
            color: #fcefdb;
        }

        #asked {
            background-color: #ffe586;
            color: #235d8e;
        }

        #questions {
            background-color: #fd92c8;
            color: #fcefdb;
        }
    }

    &#news-update {
        background-color: #2ca1c8;
        height: 400px;display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        padding: 10px;

        h1 {
            color: #fcefdb;
            border: 1px solid #fcefdb;
        
            &#subscribe {
                background-color: #fd92c8;
            }
    
            &#newsletter {
                background-color: #ffe586;
                color: #235d8e;
            }
    
            &#updates {
                background-color: #85f1cb;
            }
        }
    }
        
}

hr {
    margin: 0;
    padding: 0;
    height: 2px;
    background-color: #6b6b6bbd;
    border: none;
}

footer {
    height: 90%;
    background-color: #fcefdb;
}