* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    

    h1 {
        text-align: center;
        font-family: 'Lexend Exa';
        color: #363555;
        font-size: 2.4em;
        border-radius: 40px;
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        border: 1px solid #363555;
    }

    #learn {
        background-color: #ffe586;
        color: #235d8e;
    }

    .title-section {
        display: inline;
    }
}

body {
    background-color: beige;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}

header {
    background-color: #2ca1c8;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 #0000001f;
    position: relative;

    img {
        height: 70px;
        display: inline-block;
        margin: 15px 0px 15px 20px;
        padding: 0;
    }

    nav {
        display: flex;
        gap: 5px;

        .dropdown-lang {
            background: none;
            color: #363555ce;
            border: none;
            margin: 0px 20px 0px 0px;
            font-size: 14px;
            font-weight: 550;
            align-self: center;
            padding: 0;
        }

        option {
            color: #000;
            font-size: 14px;
        }


        a {    
            text-decoration: none;
            color: #fff;
        }
    
        button {
            display: inline-block;
            font-size: 15px;
            align-self: center;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
            background: #da9e19;
            border: 1px solid #ecb132;
            padding: 3px 7px;
            box-shadow: -4px 4px #363555;

            &#login:hover, &#register:hover {
                background-color: #d59303;
                color: #fff;
                cursor: pointer;
                box-shadow: -2px 2px 2px #363555;
            }
        }
    }
}

section {
    height: max-content;
    width: 100%;
    padding: 70px;

    &#home {
        background: linear-gradient(to right, #1e89ac, #2ca1c8);
        border-top: 2px solid #00a2e9;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        height: 90vh;
    
        .title-section {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 20px;
    
            h1 {
                display: inline-block;
                margin: 0;
                padding: 10px 20px;
                border: 1px solid #fcefdb;
                color: #fcefdb;
                font-size: 2.4em;

                &#levelup {
                    background-color: #fd92c8;
                    color: #fcf8f1;
                }

                &#language {
                    background-color: #00a2e9;
                    color: #fcf8f1;
                }

                &#play {
                    background-color: #85f1cb;
                    color: #fcefdb;
                }

                &#learn {
                    background-color: #ffe586;
                    color: #235d8e;
                }
            }

            p {
                text-align: justify;
                font-size: 20px;
                margin: 10px 5px;
                color: #fcefdb;
            }

            #conquest {
                font-size: 16px;
                background-color: #da9e19;
                border: 1px solid #ecb132;
                color: #fff;
                border-radius: 20px;
                padding: 10px 20px;
                box-shadow: -4px 4px #363555;

                &:hover {
                    box-shadow: -2px 2px 2px #363555;
                    background-color: #d59303;
                    cursor: pointer;
                }
            }
        }

        .image-desc {
            #hero-img {
                height: 400px;
                width: 800px;
                right: 0;
                z-index: 1;
            }
        }
    }

    &#courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        height: max-content;
        padding: 50px 0px 10px;

        #favorite {
            background-color: #fd92c8;
            color: #fcefdb;
        }

        #free {
            background-color: #85f1cb;
            color: #fcefdb;
        }

        .flag-carousel {
            display: flex;
            width: 70%;
            align-items: center;
            margin: 30px;
            
            button {
                align-self: center;
                font-size: 20px;
                font-weight: bold;
                margin: 20px;
                background-color: #ecb132;
                color: #fff;
                border: 2px solid #d59303;
                border-radius: 10px;
                padding-bottom: 5px;

                &:hover {
                    background-color: #da9e19;
                    cursor: pointer;
                }
            }

            .flags-container {
                overflow: auto;
                white-space: nowrap;
                scrollbar-width: none;
                padding: 30px 0px;
                scroll-behavior: smooth;
                border-radius: 20px;
                display: flex;
                align-items: center;
                
                > div {
                    display: block;
                    unicode-bidi: isolate;
                    position: relative;
                    margin: 0px 10px;

                    &:hover {
                        .fi {
                            transform: translateY(-20px);
                            border: 5px solid #ffe586;
                            box-shadow: 0 0 10px 3px #ffe586;
                        }

                        .flag-name {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    span {
                        display: inline-block;
                        width: 80px;
                        height: 63px;
                        border: 5px solid #fff;
                        border-radius: 10px;
        
                        &.fi {
                            transition: transform 0.5s ease;
                        }
                    }
    
                    .flag-name {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: rgba(255, 229, 134, 0.8);
                        color: #235d8e;
                        padding: 4px 8px;
                        border: 1px solid #235d8e;
                        border-radius: 10px;
                        font-size: 12px;
                        white-space: nowrap;
                        transition: opacity 0.3s ease;
                        z-index: 10;
                    }
                } 
            }
        }
    }

    &#gamemodes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        background-color: #2ca1c8;

        h1 {
            color: #fff;
            border: 1px solid #fff;
            
            &#learning {
                background-color: #ffe586;
                color: #235d8e;
            }

            &#gamemode {
                background-color: #fd92c8;
                color: #fcf8f1;
            }
        }

        .gamemode-section {
            display: flex;
            justify-content: space-evenly;
            gap: 50px;
            width: 100%;
            margin: 3% 0% 0%;

            #daily-quests {
                width: 33.3%;
                border-radius: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3%;
                transition: transform 1s ease;
                position: relative;
                background: #fff;
                z-index: 1;
                color: #97528e;

                &::before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    border: 5px solid #97528e;
                    border-radius: 20%;
                    background: linear-gradient(45deg, currentColor, #ffffff, currentColor);
                    background-size: 200% 200%;
                    z-index: -1;
                    opacity: 0.8;
                    transition: all 0.5s ease;
                    animation: gradientFlow 3s ease infinite;
                }

                &:hover::before {
                    opacity: 1;
                    animation-duration: 1.5s;
                }

                p {
                    text-align: center;
                    color: #97528e;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            #vocab-duels {
                width: 33.3%;
                border-radius: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3%;
                transition: transform 1s ease;
                position: relative;
                background: #fff;
                z-index: 1;
                color: #347c94;

                &::before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    border: 5px solid #347c94;
                    border-radius: 20%;
                    background: linear-gradient(45deg, currentColor, #ffffff, currentColor);
                    background-size: 200% 200%;
                    z-index: -1;
                    opacity: 0.8;
                    transition: all 0.5s ease;
                    animation: gradientFlow 3s ease infinite;
                }

                &:hover::before {
                    opacity: 1;
                    animation-duration: 1.5s;
                }

                p {
                    text-align: center;
                    color: #347c94;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            #team-challenges {
                width: 33.3%;
                border-radius: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3%;
                transition: transform 1s ease;
                position: relative;
                background: #fff;
                z-index: 1;
                color: #527536;

                &::before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    border: 5px solid #527536;
                    border-radius: 20%;
                    background: linear-gradient(45deg, currentColor, #ffffff, currentColor);
                    background-size: 200% 200%;
                    z-index: -1;
                    opacity: 0.8;
                    transition: all 0.5s ease;
                    animation: gradientFlow 3s ease infinite;
                }

                &:hover::before {
                    opacity: 1;
                    animation-duration: 1.5s;
                }

                p {
                    text-align: center;
                    color: #527536;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            #daily-quests:hover, #vocab-duels:hover, #team-challenges:hover {
                transform: translateY(-20px);
                box-shadow: -10px 10px 10px #000;
                cursor: default;
            }

            .gamemode-imgs {
                height: 100px;
                width: max-content;

            }
        }
    }

    &#why-lingua {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        background-color: #ffe586;

        h1 {
            color: #235d8e;
            border: 1px solid #235d8e;

            &#linguaquest {
                background-color: #2ca1c8;
                color: #fcefdb;
            }
        }
    }

    &#reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
    }

    &#blog-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        background-color: #fd92c8;

        h1 {
            color: #fcefdb;
            border: 1px solid #fcefdb;

            &#explore {
                background-color: #ffe586;
                color: #235d8e;
            }
    
            &#blog {
                background-color: #2ca1c8;
                color: #fcefdb;
            }
        }
    }

    &#faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        background-color: #85f1cb;

        #frequently {
            background-color: #2ca1c8;
            color: #fcefdb;
        }

        #asked {
            background-color: #ffe586;
            color: #235d8e;
        }

        #questions {
            background-color: #fd92c8;
            color: #fcefdb;
        }
    }

    &#news-update {
        background-color: #2ca1c8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;

        h1 {
            color: #fcefdb;
            border: 1px solid #fcefdb;
        
            &#subscribe {
                background-color: #fd92c8;
            }
    
            &#newsletter {
                background-color: #ffe586;
                color: #235d8e;
            }
    
            &#updates {
                background-color: #85f1cb;
            }
        }
    }
        
}

hr {
    margin: 0;
    padding: 0;
    height: 2px;
    background-color: #6b6b6bbd;
    border: none;
}

footer {
    height: 70vh;
    background-color: #fcefdb;

    #footer-container {
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 50px;
        height: max-content;
        border: 1px solid black;

        &.footer-details {
            width: max-content;
            height: 25%;
            padding: 20px 0px;
            border: 1px solid black;
        }
            
        img {
            height: 70px;
        }
    }
}