* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: default;

    h1 {
        text-align: center;
        font-family: 'Lexend Exa';
        color: #363555;
        font-size: 3em;
        border-radius: 60px;
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        border: 1px solid #363555;
    }
}

body {
    background-color: #faf4e4;
    padding: 10px;
    overflow-y: scroll;
}

.sidebar-container {
    background-color: #000;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 30px;
    padding: 35px;
    margin: 0;
    width: 15%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    img {
        height: 60px;
        display: block;
        margin: 0px auto;
    }
}

h1 {
    color: #fff;
    margin: 0px;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #fff;
}

p {
    color: #999;
    margin: 10px 0px;
    font-size: .9em;
}

div {
    list-style-type: none;
    font-size: .9em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    
        &:hover:not(.selected) {
            color: #999;
            cursor: pointer;
        }
    }
}

.selected {
    border-radius: 30px;
    width: 100%;
    animation: moveSelectorDown 1s ease;
}

.pink {
    background-color: #fd92c8;
}

.green {
    background-color: #85f1cb;
    color: #363555;
}

.yellow {
    background-color: #ffe586;
    color: #363555;
}

.blue {
    background-color: #00a2e9;
}


@keyframes moveSelectorDown {
    0% {transform: translateY(0%)}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0%);}
}

.premium:not(.selected) {
    animation: premiumColor 3s infinite;
    border-radius: 30px;
    font-weight: bold;
}

@keyframes premiumColor {
    20% {color: #ffb62c;}
    40% {color: #fe881e;}
    60% {color: #f45f72;}
    80% {color: #975cf6;}
    100% {color: #ec93ed;}

}

/* START OF PREMIUM STYLE */

.premium-main {
    margin-left: 17%;
    height: 94vh;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ffe586ab 0%, #ffffffab 50%, #ffe586ab 100%);
    border-radius: 30px;

    #premium-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1 {
        color: #fff;
        border: 1px solid #363555;
        font-size: 2.3em;
        text-align: center;
        padding: 10px 20px;
        justify-self: flex-start;
        display: inline-block;

        &#premium {
            background-color: #ffe586;
            color: #235d8e;
        }

        &#features {
            background-color: #00a2e9;
        }
    }

    small {
        font-size: 1.1em;
        margin: 5px;
        color: #7c613db9;
    }

    section {
        display: flex;
        align-items: center;
        margin: 30px 0px 0px;
        justify-items: space-between;
        gap: 30px;

        #tier1:hover {
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);

            &:hover {
                background: linear-gradient(135deg, #fd92c8 0%, #f45f72 50%, #e8176c 75%, #97528e 100%);
                transform: translateY(-20px) scale(1.05);
                box-shadow: 0 15px 20px rgba(118, 75, 162, 0.4);
                border: none;

                h2, h3, li {        
                    color: white;
                }

                .not-included {
                    color: #ffffff94;
                }

                button {
                    border: 2px outset #fff;
                    color: #fff;

                    &:active {
                        border: 2px inset #fff;
                    }
                }
            }
        }

        #tier2:hover {
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);

            &:hover {
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                transform: translateY(-20px) scale(1.05);
                box-shadow: 0 15px 20px rgba(118, 75, 162, 0.4);
                border: none;

                h2, h3, li {        
                    color: white;
                }

                .not-included {
                    color: #ffffff94;
                }

                button {
                    border: 2px outset #fff;
                    color: #fff;

                    &:active {
                        border: 2px inset #fff;
                    }
                }
            }
        }

        #tier3:hover {
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);

            &:hover {
                background: linear-gradient(135deg, #ffb62c 0%, #fe881e 50%, #ff5e32 100%);
                transform: translateY(-20px) scale(1.05);
                box-shadow: 0 15px 20px rgba(118, 75, 162, 0.4);
                color: white;
                border: none;

                h2, h3, li {        
                    color: white;
                }

                button {
                    border: 2px outset #fff;
                    color: #fff;

                    &:active {
                        border: 2px inset #fff;
                    }
                }
            }
        }

        div {
            border: 1px solid #7c613d;
            border-radius: 30px;
            padding: 30px;
            width: 370px;

            h2 {
                margin: 0;
                font-size: 1.7em;
                text-align: center;
                color: #7c613d;
            }

            h3 {
                margin: 0;
                text-align: center;
                color: #7c613d;
            }

            ul {
                line-height: 25px;
                list-style-type: none;
                margin: 20px 0px;
                padding-left: 0;
                color: #7c613d;

                li {
                    margin: 0px;
                
                    &.not-included {
                        color: #7c613db9;
                    }
                }
            }

            button {
                width: 50%;
                padding: 5px;
                border-radius: 30px;
                background: none;
                display: block;
                margin: auto;
                font-weight: bold;
                border: 2px solid #7c613d;
                color: #7c613d;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}